

<div class="ghemassages-all">
    <h2>Tổng số sản phẩm <%=response.count%></h2>
    <a href="/danhmuc/danhmuc-create">Thêm sản phẩm <i class="fa fa-plus"></i></a>
  <table class="table table-bordered table-admin">
    <thead>
      <tr>
        <th>Tên danh mục</th>
        <th>Link</th>
        <th>alt</th>
        <th>index</th>
        <th>Hình ảnh Default</th>

        <th>Sửa</th>
        <th>Xóa</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<response.count;i++){ %>
        <tr>
        <td> <%=response.danhmucs[i].name %> </td>
        <td> <%=response.danhmucs[i].link %> </td>
        <td> <%=response.danhmucs[i].alt %> </td>
        <td> <%=response.danhmucs[i].index %> </td>

        <td class="image-response">
          <%for(var k=0;k<response.danhmucs[i].image.length;k++){%>
          <img src="/assest/image/<%=response.danhmucs[i].image[k].originalname%>" width="50"/>
          <%}%>
        </td>
        <td><a href="/danhmuc/edit/<%=response.danhmucs[i]._id %>">Sửa</a></td>
        <td><a class="delete-danhmuc" data-id="<%=response.danhmucs[i]._id %>">Xóa</a></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
