
  <div class="container">


    <div class="row">
      <div class="wrapper-product-mb bachhoaonline">
        <div class="choosedfilter">
          <a href="/bach-hoa-online">Bách Hóa Online
            <i class="icontgdd-clearfil fa fa-times"></i>
          </a>
        </div>
        <ul class="homeproduct filter-cate">
            <% if(laptopall.count<2){ %>
              <li class="item" >
            <a href="/<%=laptopall.laptops[0].nameseo %>">
                <aside class="left">
                  <img  src="/assest/image/<%=laptopall.laptops[0].imagedefault[0].originalname %>">
                </aside>
                <aside class="right">
                    <h3><%=laptopall.laptops[0].name %></h3>
                    <div class="price">
                        <strong><%=laptopall.laptops[0].price %>₫</strong>
                    </div>
                    <div class="para">
                      <%-laptopall.laptops[0].tinhnang %>
                    </div>
                </aside>
            </a>
                <div class="button">
                    <a href="/<%=laptopall.laptops[0].nameseo %>" class="btn_buynow">Mua</a>
                </div>
              </li>
              <% } else{for(var i=0;i<laptopall.count;i++){ %>

              <li class="item" >
            <a href="/<%=laptopall.laptops[i].nameseo %>">
                <aside class="left">
                  <img  src="/assest/image/<%=laptopall.laptops[i].imagedefault[0].originalname %>">
                </aside>
                <aside class="right">
                    <h3><%=laptopall.laptops[i].name %></h3>
                    <div class="price">
                        <strong><%=laptopall.laptops[i].price %>₫</strong>
                    </div>
                    <div class="para">
                      <%-laptopall.laptops[i].tinhnang %>
                    </div>
                </aside>
            </a>
                <div class="button">
                    <a href="/<%=laptopall.laptops[i].nameseo %>" class="btn_buynow">Mua</a>
                </div>
              </li>
            <% }} %>
        </ul>
        <a href="/bach-hoa-online" class="viewmore">Xem thêm <%=laptopall.count%> sản phẩm </a>

      </div>
    </div>

  </div>
