
  <div class="container">
    <div class="row">
      <div class="wrapper-maytinh-mb">
        <div class="tabslink">
          <a href="/camera-quan-sat-trong-nha" class="">
              Camera<br>Trong Nhà
          </a>
          <a href="/camera-quan-sat-ngoai-troi" class="">
              Camera<br>Ngoài Trời
          </a>
          <a href="/dau-ghi-hinh" class="active">
              Đầu<br>Thu Hình
          </a>
        </div>
          <div class="caption-lt">
            <h2>Chọn Camera theo nhu cầu</h2>
          </div>
          <div class="lt-nhucau">
            <a href="/camera-quan-sat-trong-nha">
              <img src="/assest/image/camera-trong-nha.png" alt="Camera Quan Sát Trong Nhà" >
            </a>
            <a href="/camera-quan-sat-ngoai-troi">
              <img src="/assest/image/camera-ngoai-troi.png" alt="Camera Quan Sát Ngoài Trời" >
            </a>
            <a href="/camera-ip">
              <img src="/assest/image/camera-ip.png" alt="Camera IP Wifi" >
            </a>
            <a href="/dau-ghi-hinh">
                <img src="/assest/image/dau-ghi-hinh.png" alt="Đầu Ghi Hình" >
            </a>

          </div>

      </div>
    </div>

    <div class="row">
      <div class="wrapper-product-mb">
        <div class="choosedfilter">
          <a href="/lap-dat-camera">Đầu Ghi Hình
            <i class="icontgdd-clearfil fa fa-times"></i>
          </a>
        </div>
        <ul class="homeproduct filter-cate">
            <% for(var i=0;i<laptop.count;i++){ %>
              <li class="item" >
            <a href="/<%=laptop.laptops[i].nameseo %>">
                <aside class="left">
                  <img  src="/assest/image/<%=laptop.laptops[i].imagedefault[0].originalname %>">
                </aside>
                <aside class="right">
                    <h3><%=laptop.laptops[i].name %></h3>
                    <div class="price">
                        <strong><%=laptop.laptops[i].price %>₫</strong>
                    </div>
                    <div class="para">
                      <%-laptop.laptops[i].tinhnang %>
                    </div>
                </aside>
            </a>
                <div class="button">
                    <a href="/<%=laptop.laptops[i].nameseo %>" class="btn_buynow">Mua</a>
                </div>
              </li>
            <% } %>
        </ul>


      </div>
    </div>

  </div>
