<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/laptop/edit/<%=laptop._id%>" enctype="multipart/form-data">
      <div class="form-group">
        <label>Tên sản phẩm</label>
        <input type="text" name="name" placeholder="Nhập tên sản phẩm" value="<%=laptop.name%>"  class="form-control">
      </div>
      <div class="form-group">
        <label>Tên seo</label>
        <input type="text" name="nameseo" placeholder="Nhập tên seo" value="<%=laptop.nameseo%>"  class="form-control">
      </div>
      <div class="form-group">
        <label>Phân loại sản phẩm</label>
        <input type="text" name="phanloai" placeholder="Nhập phân loại sản phẩm" value="<%=laptop.phanloai%>" class="form-control">
      </div>
      <div class="form-group">
        <label>NSX</label>
        <input type="text" name="nsx" placeholder="Nhập nhà sản xuất" value="<%=laptop.nsx%>" class="form-control">
      </div>
      <div class="form-group">
        <label>Nhu cầu sử dụng</label>
        <input type="text" name="nhucau" placeholder="Nhập nhu cầu" value="<%=laptop.nhucau%>" class="form-control">
      </div>
      <div class="form-group">
        <label>Giá </label>
        <input type="text" name="price" placeholder="Nhập Giá" value="<%=laptop.price%>" class="form-control">
      </div>
      <div class="form-group">
        <label>Bảo hành </label>
        <input type="text" name="baohanh" placeholder="Bảo hành" value="<%=laptop.baohanh%>" class="form-control">
      </div>
      <div class="form-group">
        <label>Thứ tự </label>
        <input type="text" name="index" placeholder="Thứ tự" value="<%=laptop.index%>" class="form-control">
      </div>
      <div class="form-group">
        <label>Tính năng</label>
        <textarea id="shortdescription" name="tinhnang" placeholder="Nhập Mô tả" ><%=laptop.tinhnang%></textarea>
      </div>

      <div class="form-group">
        <label>Mô tả dài</label>
        <textarea id="description" name="description" placeholder="Nhập Mô tả" ><%=laptop.description%></textarea>
      </div>


      <div class="form-group">
        <label>Ảnh đại diện</label>
        <input type="file" name="imagedefault" placeholder="Import Hình Ảnh" class="form-control"  multiple >
      </div>
      <div class="form-group">
        <label>Bộ sưu tập ảnh</label>
        <input type="file" name="image" placeholder="Import Hình Ảnh" class="form-control"  multiple >
      </div>
      <input type="submit" value ="Update">
    </form>
  </body>
</html>
