<div class="laptop">
  <div class="laptop-left">
    <div class="danhmuc-laptop">
      <h3>Danh Mục</h3>
    </div>
    <div class="menu-laptop">
      <ul class="list-item">
        <li class="">
          <span>Ghế massage </span>
          <ul class="item">
            <li class=""><a href="/ghe-massage-moi">Ghế massage mới</a></li>
            <li><a href="/ghe-massage-cu">Ghế massage cũ thanh lý</a></li>

          </ul>
        </li>
        <li class="">
          <a href="/may-loc-khong-khi">Máy lọc không khí</a>

        </li>
        <li class="">
          <a href="/may-hut-am">Máy hút ẩm</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="laptop-right">
      <div class="product">
        <div class="title-product">
          <h2>Ghế Massage Cũ 85% - 95%</h2>
        </div>
        <div class="main-product">
          <ul class="wapper-item">
              <% for(var i=0;i<laptop.count;i++){ %>
            <li class="item-product">
              <div class="image-product">

                <img src="/assest/image/<%=laptop.laptops[i].imagedefault[0].originalname %> " alt="<%=laptop.laptops[i].imagedefault %> ">
                  <div class="tinhnang">

                      <%-laptop.laptops[i].tinhnang %>


                  </div>
              </div>
              <div class="wapper-info-product">
                <div class="info-product">
                  <div class="name-product">
                    <a href="#"><%=laptop.laptops[i].name %></a>
                  </div>
                  <div class="price-product">
                     <span  class="commas"><%=laptop.laptops[i].price %></span>
                     <sup> đ</sup>
                  </div>
                </div>
                <div class="button-view">
                    <a href="/<%=laptop.laptops[i].nameseo %>">Xem Ngay</a>
                </div>

            </li>
        <% } %>


          </ul>
        </div>
      </div>
  </div>

</div>
