<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/ghe-massage-ban-chay-nhat"> Ghế massage</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> <%=productdetail.products[0].name %></li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <div class="wrap-img-product-detail">
                        <div class="img-product-detail">
                            <img id="zoom_easing"
                            src="/assest/image/<%=productdetail.products[0].image[0].originalname%>"
                            data-zoom-image="/assest/image/<%=productdetail.products[0].image[0].originalname%>"/>
                        </div>
                        <div class="thumb-img-product-detail">
                          <div id="lightgallery">
                              <%for(var k=0;k<productdetail.products[0].image.length;k++){%>
                              <a href="/assest/image/<%=productdetail.products[0].image[k].originalname%>">
                                  <img src="/assest/image/<%=productdetail.products[0].image[k].originalname%>"/>
                              </a>
                              <%}%>

                          </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-4">
                    <div class="product-detail-info">
                          <h1><%=productdetail.products[0].name%> </h1>
                          <div class="product-detail-info-inner">
                								<div class="product-note-delivery"><i class="fa fa-truck"></i> Giao hàng và thu tiền tại nhà trên toàn quốc</div>
                        				<div class="product-price product-price-old">
                          				  <span class="product-price-label">Giá:</span>
                          				  <span class="product-price-val"><span class="commas"> <%=productdetail.products[0].price%></span> ₫</span>
                        				</div>

                								<div class="warranty">
                        					  <span class="warranty-label">Bảo hành:</span>
                        					  <span class="warranty-val">	<%=productdetail.products[0].baohanh%></span>
                      					</div>
                                <div class="product-buy-btn">

                                  <a href="/cart/add-to-cart/<%=productdetail.products[0]._id %>"><i></i>
                                    Mua ngay</a>
                                </div>
                			    </div>
                    </div>
                    <div class="warning">
                      <h5>Bảo vệ quyền lợi khách hàng mua được sản phẩm chính hãng, quý khách vui lòng:</h5>
                      <ul>
                          <li><i class="fa fa-phone"></i> <strong><a href="tel:0989890248" class="phone">09.89.89.0248</a></strong> để được tư vấn miễn phí</li>
                          <li>Truy cập website: <a href="/" target="_blank">www.giagocgiasoc.com</a></li>
                      </ul>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="product-detail-delivery">
                      <div class="detail-delivery-item">
                        <ul>
                            <li>
                              <img src="/assest/image/ico-pro-deli.png" alt="Cam kết giao hàng nhanh trong vòng 24h đối với các quận nội thành HCM" title="Cam kết giao hàng nhanh trong vòng 24h đối với các quận nội thành">
                              <span>Giao hàng </span>
                              <span>trong 24H</span>
                            </li>
                            <li>
                              <img src="/assest/image/ico-pro-change.png" alt="Hoàn tiền 100% nếu có lỗi từ nhà sản xuất" title="Hoàn tiền 100% nếu có lỗi từ nhà sản xuất">
                              <span>Hoàn tiền </span>
                              <span>100% đảm bảo</span>
                            </li>
                            <li>
                              <img src="/assest/image/ico-pro-refund.png" alt="Hoàng Long đảm bảo đổi hàng trong 15 ngày" title="Hoàng Long đảm bảo đổi hàng trong 15 ngày">
                              <span>1 đổi 1</span>
                              <span>trong 15 ngày</span>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail-delivery-support">
                				<h4 class="delivery-title">Tổng đài tư vấn</h4>
                				<h5 class="delivery-title">09.89.89.0248</h5>
                		</div>
                    <div class="video-product-detail">
                            <iframe width="100%" height="170" src="https://www.youtube.com/embed/XaR15-xseR0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-8">
                    <div class="main-content">
                        <figure class="template">
                            <figcaption>Thông tin sản phẩm</figcaption>
                            <b></b>
                        </figure>
                        <div class="content-detail">
                          <%-productdetail.products[0].description%>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
