
<%if(products){%>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
          <div class="bar-top">
            <a href="/" class="buymore">Mua thêm sản phẩm khác</a>
            <div class="yourcart">Giỏ hàng của bạn</div>
          </div>
          <div class="detail-cart">
            <ul class="list-group">
                <% for(var i=0; i<products.length ;i++){ %>
                    <li class="list-group-item">
                        <span class="badge"><%=products[i].qty%></span>
                      <span class="name-order">  <strong><%=products[i].item.name   %></strong></span>
                        <span class="label label-success label-normal commas"><%=products[i].price%> ₫</span>
                        <a href="/cart/add/<%=products[i].item._id%>" class="label label-primary label-normal">+</a>
                        <a href="/cart/reduce/<%=products[i].item._id%>" class="label label-primary label-normal">-</a>
                        <a href="/cart/remove/<%=products[i].item._id%>" class="label label-danger label-normal">Xóa</a>
                    </li>
                <%}%>
            </ul>

            <div >
                <strong>Tổng đơn hàng: <span class="commas total-order"><%=totalPrice%> ₫</span></strong>
            </div>
          </div>

        </div>
    </div>
<hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href="/cart/checkout" type="button" class="btn btn-success">Thanh toán</a>
            <a href="/cart/checkoutOnline" type="button" class="btn btn-success">Thanh toán qua thẻ Visa</a>
        </div>
    </div>
    <% } else {%>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in Cart</h2>
        </div>
    </div>
    <% } %>
