
<section>
    <div class="breadcrumb-mb">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb martop37">
              <li class="breadcrumb-item"><a href="/" class="mb"><i class="fa fa-home"></i> Trang chủ</a></li>
              <li class="breadcrumb-item service"><a href="/tin-tuc"><i class="fa fa-newspaper-o"></i> Tin tức</a></li>
                <li class="breadcrumb-item mb" active aria-current="page"> <%=postsdetail.post[0].title%></li>
          </ol>
      </nav>
    </div>
    <div class="wrap-newsdetail mb">
      <h1 class="title-newsdetail"><%=postsdetail.post[0].title%></h1>
      <div class="info-news-detail">
        <span class="post-date"><i class="fa fa-clock-o"></i> <%=postsdetail.post[0].day%></span>
      </div>
      <div class="content-newsdetail">
        <%-postsdetail.post[0].description%>
      </div>
    </div>
    <aside>
      <div class="suggest mb">
          <figure class="template news">
                    <figcaption>Tin liên quan</figcaption>
                    <b></b>
          </figure>
          <div class="view-content">
              <ul class="list-padding" style="">
                <%for(var i=0;i<postsfilter.count;i++){%>
                  <li class="">
                    <h5>
                      <a href="/tin-tuc/<%-postsfilter.post[i].titleseo%>"><%=postsfilter.post[i].title%></a>
                    </h5>
                  </li>
                <%}%>
              </ul>
          </div>
      </div>
    </aside>


</section>
