<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/mayvp/edit/<%=mayvp._id%>" enctype="multipart/form-data">
      <div class="form-group">
        <label>Tên ghế</label>
        <input type="text" name="name" placeholder="Nhập tên ghế massage" value="<%=mayvp.name%>"  class="form-control">
      </div>
      <div class="form-group">
        <label>Tên ghế seo</label>
        <input type="text" name="nameseo" placeholder="Nhập tên seo" value="<%=mayvp.nameseo%>" class="form-control">
      </div>
      <div class="form-group">
        <label>NSX</label>
        <input type="text" name="nsx" placeholder="Nhập thương hiệu" value="<%=mayvp.nsx%>" class="form-control">
      </div>
      <div class="form-group">
        <label>Giá gốc</label>
        <input type="text" name="price" placeholder="Nhập Giá" value="<%=mayvp.price%>" class="form-control">
      </div>

      <div class="form-group">
        <label>Tiêu đề</label>
        <input type="text" name="title" placeholder="Nhập Title" class="form-control" value="<%-mayvp.title%>" >
      </div>
      <div class="form-group">
        <label>Og title</label>
        <input type="text" name="ogtitle" placeholder="Nhập ogtitle" class="form-control"  value="<%=mayvp.ogtitle%>" >
      </div>
      <div class="form-group">
        <label>Mô tả dài</label>
        <textarea id="shortdescription" name="description" placeholder="Nhập Mô tả" ><%=mayvp.description%></textarea>
      </div>
      <div class="form-group">
        <label>Ảnh đại diện</label>
        <input type="file" name="imagedefault" placeholder="Import Hình Ảnh" class="form-control"  multiple >
      </div>
      <div class="form-group">
        <label>Bộ sưu tập ảnh</label>
        <input type="file" name="image" placeholder="Import Hình Ảnh" class="form-control"  multiple >
      </div>
      <input type="submit" value ="Update">
    </form>
  </body>
</html>
